doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title= title
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/style.css')
    body.body-about
        include ./header
        .container-index
            p.title-center About us


