nav.navbar.navbar-inverse.navbar-fixed-top
     .container-fluid
        .navbar-header
            a.navbar-brand(href='/')
                img.header-img(src="../images/logo.png", width="100px", alt="Lydia")
        ul.nav.navbar-nav
            li.nav-item
                a.nav-link(href='/') Home
            li.nav-item
                a.nav-link(href='/about') About us
            li.nav-item
                a.nav-link(href='/portfolio') Portfolio
            li.nav-item
                a.nav-link(href='/contact') Contact us           