doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title= title
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/style.css')
        link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
    body.body-index
        include ./header
        .container-index
            p.title-index Welcome to our website
