doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title= title
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/style.css')
    body.body-portfolio
        include ./header
        .container-index
            p.title-center Portfolio
        .div.gellery
            .div.gellery-item.i01
            .div.gellery-item.i02
            .div.gellery-item.i03
            .div.gellery-item.i04
            .div.gellery-item.i05
            .div.gellery-item.i06
